html,body {
    height: 100%;
}

.page {
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: grey;   
}

.page_text1 {
    font-size: 30px;
    color: red;
    
}

.page_img {
    flex: 1 1 auto;
    object-fit: cover;
}

.page_text2 {
    font-size: 25px;
    align-self: flex-end;
    color: black;
    margin-right: 102px;

}
.focus {

    margin-right: 589px;

    display: inline-block;

    height: 177px;
    width: 406px;
    }
    

    .casper { 
    position:absolute;
    padding-top:69px ;
    display: none;
    top: 85px;
    left: 532px;

    .casper {
    margin-left: 20px;   
    position: absolute; 
    display: none;

    color: black;
    text-align: center;
    font-size: 20px;
    background-color: aqua;

    border: 2px solid blueviolet;
    height: 108px;
    height: 177px;

    width: 406px;
    }
    
    .focus:focus ~ .casper {
        
        display: inline-block;

    }
    
    .table {
    border: 5px solid black;
    border-collapse: collapse;
    width: 50%;
    }
    .table td{
    border: 5px solid black;
    padding: 15px;
    }
    
    .bigimage {
        position: absolute;
        z-index: 0;
    }
    
    .first_input {
        width: 227px;
        height: 26px;
    }
    
    .btn {
        height: 32px;
        font-size: 17px;
    }
    
    .flexfather {
        display: flex;
        flex-direction: column;
    }
    
    .label {
        font-size: 18px;
        font-weight: 600;
        margin: 0 20px;
    }